@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header__navbar {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 0;
  background: #fff;
  left: 0;
  right: 0;
}
.header nav a {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 20px;
}
.header nav a.active {
  background: #000;
  color: #fff;
}
.header nav a img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.header .nav__logo {
  font-size: 30px;
  color: #E60023;
}
.header input {
  width: 70%;
  padding: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #E9E9E9;
  font-weight: 500;
}
.header .nav__icon {
  font-size: 20px;
  border-radius: 50px;
}
.header .nav__icon:hover {
  background: #d2d2d2;
}

#main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
#main .col {
  height: auto;
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
#main .col .card {
  margin: 0;
  width: 100%;
  display: grid;
  padding: 10px 0;
}
#main .col .card__avatar {
  display: inline-block;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px 0;
}
#main .col .card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
#main .col .card__name {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 800;
  color: #E60023;
  text-transform: uppercase;
}
#main .col img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}

/* Стили модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  /* Стили для основного изображения в модальном окне */
  /* Стили для контейнера изображения и аватара */
  /* Стили для аватара */
  /* Стили для кнопки закрытия */
}
.modal-content {
  display: flex;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.modal-content img {
  max-width: 80%;
  height: auto;
}
.modal__content-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E9E9E9;
  width: 40%;
  height: auto;
  border-radius: 20px;
  padding: 10px;
  margin: 0 auto;
  margin-left: 10px;
}
.modal__content-board p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.modal__content-board span {
  font-family: "Cardo";
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  top: 20px;
  display: contents;
}
.modal__content-board span::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1px;
  background-color: #000;
}
.modal .main-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.modal .image-container {
  display: flex;
  align-items: center;
}
.modal .modal-avatar {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.modal .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #aaa;
}
.modal-author {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 800;
  color: #E60023;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}
.modal-info {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  margin-top: 100px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  #main .col {
    width: 50%;
  }
  .modal .modal-content {
    flex-direction: column;
    align-items: center;
  }
  .modal .modal-content img {
    max-width: 100%;
  }
  .modal .image-container {
    flex-direction: column;
    align-items: center;
  }
  .modal .modal-avatar {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  #main .col {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
.modal-img-container {
  padding: 30px;
}

button {
  background: #C1172C;
  border-radius: 10px;
  color: #fff;
  border: none;
  padding: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #aaa;
}

.modal__selection {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal__selection-title {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}
.modal__selection-content {
  display: flex;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.modal__selection-title {
  padding: 10px;
}
.modal__selection-board {
  padding: 10px;
}
.modal__selection-board li {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  padding: 10px;
}

.modal__content-board {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
